
<section id="banner">
  <div class="wrapper">
    
      {% include night_sky.html %}
      
    <h2 class="sub_title">
        art
        </h2>  
      
    <div class="content" id="overlay">
      
        <a href="{{site.baseurl}}/category/travel/">
        <h2 class="sub_title">
        travel
        </h2>
        </a>
        
        <a href="{{site.baseurl}}/category/projects/">
        <h2 class="sub_title">
        projects
        </h2>
          </a> 
        
        <a href="{{site.baseurl}}/category/art/">
        <h2 class="sub_title">
        art
        </h2>
        </a>
            
            
        <a href="{{site.baseurl}}/about/">
        <h2 class="sub_title">
        about
        </h2>
  </a>  
    </div>
  </div>
</section> 


<!-- End Section Banner -->