
<section id="banner">
  <div class="wrapper">
    
      {% include night_sky.html %}
      
    <h2 class="sub_title">
        art
        </h2>  
      
    <div class="content" id="overlay">
      
        <a href="{{site.baseurl}}/category/travel/">
        <h2 class="sub_title">
        travel
        </h2>
        </a>
        
        <a href="{{site.baseurl}}/category/projects/">
        <h2 class="sub_title">
        projects
        </h2>
          </a> 
        
        <a href="{{site.baseurl}}/category/art/">
        <h2 class="sub_title">
        art
        </h2>
        </a>
            
            
        <a href="{{site.baseurl}}/about/">
        <h2 class="sub_title">
        about
        </h2>
  </a>  
    </div>
  </div>
</section> 

<style>   
    
#banner {
     width: 100vw;
    height: 100vh;
}
    
    #overlay a{
        text-decoration: none;
        color: #d0d0d0;
    }
    
    #overlay a:hover h2 {
        color: white;
    }
    
#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    left: 0px;
    font-size: 40px;
    z-index: 10;
    
}
    
.h2{
      text-align: center;
    
    }

#base {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
</style>

<!-- End Section Banner -->