
<ul class="social_footer">
	<li><a href="https://www.instagram.com/realnameisjohn/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
	<li><a href="https://www.facebook.com/tom.compas.9" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
	<li><a href="https://github.com/jtcomp" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a></li>

	<li><a href="https://www.linkedin.com/in/john-compas-8b609511b/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
	
	<li><a href="https://www.mountainproject.com/user/200302519/tom-compas" target="_blank"><i class="fas fa-mountain" aria-hidden="true"></i></a></li>
</ul>