<div id="map"></div>
<script src="{{site.baseurl}}/assets/js/Full_Map.js"></script>
<script>

    var svg = [
        '<svg xmlns="http://www.w3.org/2000/svg"', 'xmlns:xlink="http://www.w3.org/1999/xlink"', 'version="1.1" x="0px" y="0px" viewBox="0 0 16 16"', 'xml:space="preserve">',
        '<path fill="#C54A64" class="path1" d="M8 2.1c1.1 0 2.2, 0.5 3 1.3 0.8 0.9 1.3 1.9 1.3 3.1s-0.5 2.5-1.3 3.3l-3', '3.1-3-3.1c-0.8-0.8-1.3-2-1.3-3.3 0-1.2 0.4-2.2 1.3-3.1 0.8-0.8 1.9-1.3 3-1.3z"/>',
        '<circle cx="8" cy="6.5" r="2" fill="white" />',
        '</svg>'
    ].join('\n');

    function initMap() {
        var map = drawMap(); 
        var LatLangs = [];
        var Names = [];
        var LinkURLS = [];
        
{% for post in site.categories.Travel %}
{% if post.lat %}
        LatLangs.push(new google.maps.LatLng({{post.lat}},{{post.lng}}));
 		Names.push("{{post.title}}");  
 		LinkURLS.push("{{post.url | prepend: site.baseurl}}");
{% endif %}

{% endfor %}
        
        for (var i = 0 ; i < LatLangs.length;i++) {
            new google.maps.Marker({
            position: LatLangs[i],
            map: map,
			url: LinkURLS[i], 
            label: {
                color: 'white',
                fontWeight: 'bold',
                text: Names[i],
            },
            icon: { 
                labelOrigin: new google.maps.Point(20, 40),
                url: 'data:image/svg+xml;charset=UTF-8,' + encodeURIComponent(svg), scaledSize: new google.maps.Size(40, 40) 
            },
            optimized: false
            }).setMap(map);
        }
    }


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3k44raRshIQGklzjaXaKF-UNswRbInwE&callback=initMap"
        async defer></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&v=3&libraries=geometry"></script>

<style>

    #map{
        height: 700px;
        width: 100%;
        overflow:visible;
        background-color: grey;
    }

</style>