---
layout: default
---
{% include banner.html %}

<main class="page-content" aria-label="Content">

	<h2 class="main_sub_headers">latest</h2>
	<section class="chapters cf">
		<div class="wrapper flex-row">
			{% for post in paginator.posts limit:3%}
				{% include post_chapter.html %}
			{% endfor %}

		</div>
	</section>

	<h2 class="main_sub_headers">travel</h2>



	{% include travel_full_map.html %}

	<h2 class="main_sub_headers">projects</h2>
	<section class="chapters cf">
		<div class="wrapper flex-row">  
			{% for post in site.categories.Projects limit:3%}

			{% include post_chapter.html %}

			{% endfor %}
		</div>
	</section>



	<h2 class="main_sub_headers">art</h2>
	<section class="chapters cf">
		<div class="wrapper flex-row"> 

			{% for post in site.categories.Art limit:3%}

			{% include post_chapter.html %}		

			{% endfor %}
		</div>
	</section>


</main>


{% include footer.html %}
