---
layout: default
---
{% include banner.html %}

<main class="page-content" aria-label="Content">

    <h2 class="main_sub_headers">latest</h2>
    <section class="chapters cf">
        <div class="wrapper flex-row">
            {{ content }}
        </div>
    </section>

    <h2 class="main_sub_headers">travel</h2>

    
    
    {% include travel_full_map.html %}

    <h2 class="main_sub_headers">projects</h2>
      <section class="chapters cf">
        <div class="wrapper flex-row">  
    {% for post in site.categories.Projects limit:3%}

  <div class="chapter">
    <a href="{{post.url | prepend: site.baseurl}}">
      {% if post.img %}
      <img src={{ "/assets/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
      {% endif %}
    </a>
    <div class="chapter_inner">
      <p class="chapter_number">{{post.date | date: '%Y, %b %d'}}</p>
      <h3 class="chapter_title">{{post.title}}</h3>
    </div>
  </div>
            
{% endfor %}
</div>
    </section>
            
            

    <h2 class="main_sub_headers">art</h2>
          <section class="chapters cf">
        <div class="wrapper flex-row"> 
    
    {% for post in site.categories.Art limit:3%}
  <div class="chapter">
    <a href="{{post.url | prepend: site.baseurl}}">
      {% if post.img %}
      <img src={{ "/assets/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
      {% endif %}
    </a>
    <div class="chapter_inner">
      <p class="chapter_number">{{post.date | date: '%Y, %b %d'}}</p>
      <h3 class="chapter_title">{{post.title}}</h3>
    </div>
  </div>
{% endfor %}
            </div>
    </section>
            
    
</main>


{% include footer.html %}
